::-webkit-input-placeholder
	color: $placeholder_color
	font-style: italic
	

::-moz-placeholder
	color: $placeholder_color
	font-style: italic

input:-ms-input-placeholder
	color: $placeholder_color
	font-style: italic

%active-state
	opacity: 0.3
	-webkit-transition-duration: 0ms
	transition-duration: 0ms

%active-state-bg
	background: $color_second

%active-state-text
	color: $color_second

/* svg-icons
/* --------------------------------------------- */

#svg-icons
	position: absolute
	top: 0
	left: 0
	height: 0
	width: 0
	z-index: -100


/* svg-icons
/* ---------------------------------------END--- */


/* b-sub-header
/* --------------------------------------------- */

.b-sub-header
	display: flex
	width: 100%
	position: relative
	top: -5px
	&__item
		width: 50%
		&:first-child
			padding-right: 8px
		&:last-child
			padding-left: 8px

	&__button
		padding: 0 14px

/* b-sub-header
/* ---------------------------------------END--- */


/* b-button
/* --------------------------------------------- */

.b-button
	background: $color_main
	color: #fff !important
	text-decoration: none
	text-align: center
	display: inline-block
	border-radius: 16px
	line-height: 35px
	height: 32px
	min-width: 120px
	box-sizing: border-box
	-webkit-appearance: none
	-moz-appearance: none
	-ms-appearance: none
	appearance: none
	padding: 0 24px
	margin: 0
	
	white-space: nowrap
	position: relative
	overflow: hidden
	+rem(font-size, 16px)
	font-family: inherit
	cursor: pointer
	outline: 0

	&_style_bordered
		border: 2px solid #fff
		line-height: 29px
		background: none !important
		color: $text_color

	&_width_fluid
		display: block

	&_color_cancel
		background: $color_imp_light
		border-color: $color_imp_light

	&_color_cancel.b-button_style_bordered
		color: $color_imp_light !important

	&_font-size_small
		+rem(font-size, 12px)

	&:active
		@extend %active-state

	&__icon
		display: inline-block
		vertical-align: middle
		margin-right: 7px

		&_star
			width: 16px
			height: 16px
			position: relative
			top: -2px



/* b-button
/* ---------------------------------------END--- */


/* b-logo
/* --------------------------------------------- */

.b-logo
	color: #fff
	+rem(font-size, 17px)
	text-transform: uppercase

	&_layout_screen
		position: absolute
		top: 60px
		left: 50%
		@include translate(-50%, 0)


	&__header
		font-weight: bold
		display: inline-block
		@extend %font-regular
	&__year
		@extend %font-light
		display: inline-block
		position: relative
		margin-left: -5px

	&__icon
		width: 13px
		height: 13px
		position: relative
		margin-left: -4px
		display: inline-block
	


/* b-logo
/* ---------------------------------------END--- */


/* b-back
/* --------------------------------------------- */

.b-back
	color: #fff
	&__icon
		width: 18px
		height: 10px

/* b-back
/* ---------------------------------------END--- */


/* b-nav-button
/* --------------------------------------------- */

.b-nav-button
	display: inline-block
	position: relative
	padding-right: $content_bot_space
	padding-left: $content_bot_space
	right: -$content_bot_space
	
	&__body
		position: relative
		width: 18px !important
		height: 14px !important
		
	&__item
		position: absolute
		left: 0
		right: 0
		height: 2px
		background: #fff

		&_top
			top: 0
		&_center
			top: 50%
			margin-top: -1px
		&_bottom
			bottom: 0

/* b-nav-button
/* ---------------------------------------END--- */


/* b-footer-nav
/* --------------------------------------------- */

.b-footer-nav
	display: flex
	width: 100%
	height: $footer_h
	&__item
		width: (100%/5)
		&_wide
			//background: yellow
			width: 100%

		&_button
			width: 64px
			//background: red
			

/* b-footer-nav
/* ---------------------------------------END--- */


/* b-feedback-button
/* --------------------------------------------- */

.b-feedback-button
	height: $footer_h
	display: block
	background: $color_second
	white-space: nowrap

	&_with-header &__button
		display: inline-block
		max-width: 64px
		min-width: 64px

	&__button
		display: block
		height: $footer_h
		vertical-align: middle
		position: relative

	&__img
		width: 22px
		height: 22px
		border-radius: 50%
		background: #fff
		position: absolute
		top: 50%
		left: 50%
		margin-top: 2px
		@include translate(-50%, -50%)

	&__icon
		position: absolute
		top: 50%
		left: 50%
		@include translate(-50%, -50%)
		width: 12px
		height: 12px
		color: #fbd079

	&__h
		display: inline-block
		vertical-align: middle
		height: $footer_h
		line-height: $footer_h + 7
		color: #fff
		text-transform: uppercase
		+rem(font-size, 11px)

/* b-feedback-button
/* ---------------------------------------END--- */


/* b-footer-button
/* --------------------------------------------- */

.b-footer-button
	display: block
	height: $footer_h
	position: relative

	&:active
		@extend %active-state
	
	&.is-active &__icon
		color: $color_second

	&__icon
		position: absolute
		top: 50%
		left: 50%
		@include translate(-50%, -50%)
		color: $color_icons

		&_bell
			width: 18px
			height: 22px

		&_poll
			width: 22px
			height: 19px

		&_location
			width: 18px
			height: 22px

		&_calendar
			width: 22px
			height: 22px

	&__tip
		display: block
		position: absolute
		top: 50%
		left: 50%
		@include translate(-50%, -50%)

	&__tip &__icon
		display: block
		position: relative
		top: 0
		left: 0
		@include translate(0, 0)

/* b-footer-button
/* ---------------------------------------END--- */


/* b-tip
/* --------------------------------------------- */

.b-tip
	position: absolute

	&__body
		z-index: 2
		position: absolute
		top: -7px
		right: -50%
		background: $color_imp
		color: #fff
		min-width: 16px
		height: 16px
		line-height: 17px
		text-align: center
		border-radius: 8px
		padding: 0 2px
		+rem(font-size, 9px)
		box-sizing: border-box

/* b-tip
/* ---------------------------------------END--- */


/* b-main-nav
/* --------------------------------------------- */

.b-main-nav
	padding-top: $navbar_h

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__item
		margin: 0
		padding: 0
		display: block

	&__item.is-active &__act
		background: #2fa5d9

	&__act
		display: block
		+rem(font-size, 16px)
		font-weight: bold
		text-transform: uppercase
		color: #fff
		padding: 0 20px 0 30px
		height: 40px
		line-height: 46px
		letter-spacing: 1px

		&:active
			@extend %active-state

		

/* b-main-nav
/* ---------------------------------------END--- */


/* b-main-teasers
/* --------------------------------------------- */

.b-main-teasers
	color: #fff
	$item-margin: 3px
	margin-left: - $item-margin
	margin-right: - $item-margin
	&__lst
		margin: -$item-margin -$item-margin 0 -$item-margin
		padding: 0
		list-style-type: none
		display: flex
		flex-wrap: wrap
		
	&__item
		display: block
		width: 100%
		margin: 0
		padding: $item-margin
		box-sizing: border-box
		
		+min-screen($mq_phone_portrait - 1)
			width: (100%/2)

		+min-screen($mq_tablet_portrait + 1)
			width: (100%/3)

		+min-screen($mq_tablet_landscape + 1)
			width: (100%/4)


	&__act
		display: block
		color: #fff
		background: $color_main
		padding: 10px

		&:active
			@extend %active-state-bg

	&__icon-wrapper
		height: 60px
		position: relative

	&__icon
		position: absolute
		top: 50%
		left: 50%
		@include translate(-50%, -50%)
		color: #fff
		
		&_ural-tvorcheskiy
			width: 38px
			height: 34px

		&_ural-patriotichnyy
			width: 29px
			height: 42px

		&_ural-bezopasnyy
			width: 28px
			height: 35px

		&_ural-trudovoy
			width: 34px
			height: 39px

		&_ural-zdorovyy
			width: 42px
			height: 38px

		&_ural-politicheskiy
			width: 33px
			height: 41px

		&_ural-istoricheskiy
			width: 33px
			height: 41px

		&_ural-informatsionnyy
			width: 36px
			height: 31px

		&_ural-predpriimchivyy
			width: 36px
			height: 31px

		&_ural-mezhdunarodnyy
			width: 30px
			height: 37px

		&_ural-arkticheskiy
			width: 43px
			height: 41px

		&_ural-novatorskiy
			width: 37px
			height: 42px

	&__h,		
	&__sub-h
		text-transform: uppercase
		letter-spacing: 1px
		+rem(font-size, 10px)

	&__h
		
	&__sub-h
		font-weight: bold
		

/* b-main-teasers
/* ---------------------------------------END--- */


/* b-page-bg
/* --------------------------------------------- */

.b-page-bg
	background: $color_bg !important

/* b-page-bg
/* ---------------------------------------END--- */


/* b-list
/* --------------------------------------------- */

.b-list
	background: #fff
	border-bottom: 1px solid $color_border
	margin-bottom: $content_bot_space
	$circle-dim: 40px
	$height: 60px

	&_layout_cards
		+min-screen($mq_tablet_portrait_less - 1 )
			background: none
			border-bottom: none
			padding: $page-inner-space / 2

	&__lst
		margin: 0
		padding: 0
		list-style-type: none

	&_layout_cards &__lst
		+min-screen($mq_tablet_portrait_less - 1 )
			display: flex
			flex-wrap: wrap
		
	&__item
		margin: 0
		padding: 0

	&_layout_cards &__item
		+min-screen($mq_tablet_portrait_less - 1 )
			width: (100%/2)
		+min-screen($mq_tablet_landscape - 1 )
			width: (100%/3)
		
	&__act
		display: flex
		padding-left: $page-inner-space
		min-height: $height
		color: inherit

		&:active
			@extend %active-state

	&_layout_cards &__act
		+min-screen($mq_tablet_portrait_less - 1 )
			display: block
			text-align: center
			background: #fff
			padding: $page-inner-space
			margin: $page-inner-space / 2

			
	
	&__item:last-child &__img
		border-bottom: none
		
	&__img
		width: $circle-dim
		border-bottom: 1px solid $color_border
		display: flex
		align-items: center

	&_layout_cards &__img
		+min-screen($mq_tablet_portrait_less - 1 )
			width: auto
			display: block
			border-bottom: none
	
	&__circle
		width: $circle-dim
		height: $circle-dim
		background: $color_main
		border-radius: $circle-dim/2
		position: relative

	&_layout_cards &__circle
		+min-screen($mq_tablet_portrait_less - 1 )
			width: 100px
			height: 100px
			display: block
			border-radius: 50px
			margin: auto
			margin-bottom: 10px

	&__icon
		position: absolute
		top: 50%
		left: 50%
		@include translate(-50%, -50%)
		color: #fff
		
		&_scheme
			//width: 44px
			//height: 44px
			+new-svg-h($new_w: 20px, $old_w: 44px, $old_h: 44px)
		
		&_ural-tvorcheskiy
			//width: 38px
			//height: 34px
			+new-svg-h($new_w: 24px, $old_w: 38px, $old_h: 34px)

		&_ural-patriotichnyy
			//width: 29px
			//height: 42px
			+new-svg-h($new_w: 18px, $old_w: 29px, $old_h: 42px)

		&_ural-trudovoy
			//width: 34px
			//height: 39px
			+new-svg-h($new_w: 20px, $old_w: 34px, $old_h: 39px)

		&_ural-zdorovyy
			//width: 42px
			//height: 38px
			+new-svg-h($new_w: 24px, $old_w: 42px, $old_h: 38px)

		&_ural-politicheskiy
			//width: 33px
			//height: 41px
			+new-svg-h($new_w: 21px, $old_w: 33px, $old_h: 41px)

		&_ural-bezopasnyy
			//width: 28px
			//height: 35px
			+new-svg-h($new_w: 16px, $old_w: 28px, $old_h: 35px)

		&_ural-istoricheskiy
			//width: 33px
			//height: 41px
			+new-svg-h($new_w: 21px, $old_w: 33px, $old_h: 41px)

		&_ural-informatsionnyy
			//width: 36px
			//height: 31px
			+new-svg-h($new_w: 25px, $old_w: 36px, $old_h: 31px)

		&_ural-predpriimchivyy
			//width: 36px
			//height: 31px
			+new-svg-h($new_w: 22px, $old_w: 36px, $old_h: 31px)

		&_ural-mezhdunarodnyy
			//width: 30px
			//height: 37px
			+new-svg-h($new_w: 19px, $old_w: 30px, $old_h: 37px)

		&_ural-arkticheskiy
			//width: 43px
			//height: 41px
			+new-svg-h($new_w: 24px, $old_w: 43px, $old_h: 41px)

		&_ural-novatorskiy
			//width: 43px
			//height: 41px
			+new-svg-h($new_w: 21px, $old_w: 37px, $old_h: 42px)
	
	&__item:last-child &__h
		border-bottom: none

	&__h
		width: 100%
		border-bottom: 1px solid $color_border
		padding: $page-inner-space
		display: flex
		align-items: center
		flex-wrap: wrap
		+rem(font-size, 15px)
		text-transform: uppercase

		&_day
			padding-left: 0

	&_layout_cards &__h
		+min-screen($mq_tablet_portrait_less - 1 )
			display: block
			padding: 0
			border-bottom: none
			+rem(font-size, 18px)
			letter-spacing: 1px

	&_layout_cards &__name-part
		+min-screen($mq_tablet_portrait_less - 1 )
			display: block
		

	&__body
		line-height: 1.2
		width: 100%

		&_arrow-right
			position: relative
			padding-right: $page-inner-space + 7


	&__b
		font-weight: bold

	&__avatar
		width: $circle-dim
		height: $circle-dim
		border-radius: 50%

	&_layout_cards &__avatar
		+min-screen($mq_tablet_portrait_less - 1 )
			width: 100px
			height: 100px
			border-radius: 50px

	&__day-h
		font-weight: bold
		margin-bottom: 2px

		&_size_sm
			text-transform: none

	&__day-num
		color: $color_main
		display: inline-block

	&__day-year
		color: $color_border
		display: inline-block

	&__day-date
		&_size_sm
			text-transform: none

	&__day-time
		display: inline-block
		font-weight: bold
		color: $color_main

	&__arrow-right
		position: absolute
		top: 50%
		right: 0
		@include translate(0, -50%)
		+new-svg-h($new_w: 7px, $old_w: 11px, $old_h: 20px)
		color: $color_border

	&__area-h
		color: $color_main
		+rem(font-size, 10px)

	&_layout_cards &__area-h
		+min-screen($mq_tablet_portrait_less - 1 )
			margin-top: 5px
			+rem(font-size, 14px)

/* b-list
/* ---------------------------------------END--- */


/* b-person
/* --------------------------------------------- */

.b-person
	margin-bottom: $content_bot_space

	&__photo
		display: block

		&_darken
			filter: grayscale(1)
		
	&__h
		background: $color_main
		padding: $page-inner-space
		+rem(font-size, 20px)
		color: #fff
		margin-bottom: $page-inner-space

	&__legend
		border-bottom: 1px solid $color_border
		margin-left: $page-inner-space
		margin-bottom: $page-inner-space
		padding: 0 $page-inner-space $page-inner-space 0
		@extend %font-light

	&__legend-body
		text-transform: uppercase

	&__legend-h
		font-weight: bold

	&__imp
		font-weight: bold

	&__desc
		padding: 0 $page-inner-space

/* b-person
/* ---------------------------------------END--- */


/* b-tab-nav
/* --------------------------------------------- */

.b-tab-nav
	display: flex
	//justify-content: flex-start
	overflow: auto
	background: $color_bg_light
	height: $sub-navbar_h
	width: 100%
	+rem(font-size, 12px)

	&::-webkit-scrollbar
		display: none !important
		width: 0 !important
		height: 0 !important
		-webkit-appearance: none
		opacity: 0 !important


	&__item
		flex-grow: 1
		display: flex
		align-items: center
		padding: 0 $page-inner-space
		position: relative
		text-align: center
		justify-content: center
		color: $text_color_light

		&.active
			color: $color_second
			&:before
				content: ''
				display: block
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 2px
				background: $color_second

	&_active-color_dark &__item
		&.active
			color: $text_color_light

	&_color_main &__item
		&.active
			color: $color_main
			&:before
				background: $color_main

	&_content-align_left &__item
		justify-content: flex-start
		text-align: left

	&__text
		line-height: 1.2


	&__date
		+rem(font-size, 10px)
		color: $text_color_light !important
	
	&__item.active &__date
		display: block

	&__date
		+rem(font-size, 10px)
		color: $text_color_light !important
		display: none

/* b-tab-nav
/* ---------------------------------------END--- */


/* b-tabs
/* --------------------------------------------- */

.b-tabs
	&__item
		padding-bottom: 0 !important

	&__content
		padding: $page-inner-space

		&_nospace
			padding: 0

		&_page-bg
			background: #fff
			border-bottom: 1px solid $color_border

/* b-tabs
/* ---------------------------------------END--- */


/* b-contacts
/* --------------------------------------------- */

.b-contacts
	background: #fff
	margin-bottom: $content_bot_space
	+min-screen($mq_tablet_portrait_less - 1 )
		background: none
		padding: 0 $page-inner-space / 2
		margin-top: - $page-inner-space / 2
	
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		+min-screen($mq_tablet_portrait_less - 1 )
			display: flex
			flex-wrap: wrap
		
	&__item
		margin: 0
		padding: 0
		+min-screen($mq_tablet_portrait_less - 1 )
			width: (100%/2)
		+min-screen($mq_tablet_landscape - 1 )
			width: (100%/3)

	&__item-inner
		display: table
		width: 100%
		+min-screen($mq_tablet_portrait_less - 1 )
			display: block
			text-align: center
			background: #fff
			padding: $page-inner-space
			margin: $page-inner-space / 2
			width: auto
			text-align: center
	
	&__photo
		width: 90px
		border-bottom: 1px solid #fff
		display: table-cell
		vertical-align: top
		+min-screen($mq_tablet_portrait_less - 1 )
			display: block
			border-bottom: none
			width: 100px
			height: 100px
			border-radius: 50px
			margin: auto
			margin-bottom: 10px

	&__img
		width: 90px
		display: block
		+min-screen($mq_tablet_portrait_less - 1 )
			border-radius: 50px
			width: 100px
			height: 100px

	&__body
		display: table-cell
		vertical-align: top
		border-bottom: 1px solid $color_border
		padding: 10px $page-inner-space 10px 10px
		+rem(font-size, 12px)
		line-height: 1.2
		min-height: 90px
		+min-screen($mq_tablet_portrait_less - 1 )
			padding: 0
			display: block
			border-bottom: none
		
	&__phone-icon
		width: 16px
		height: 16px
		margin-right: 5px
		vertical-align: middle
		color: $color_main

	&__phone-num
		display: inline-block
		vertical-align: middle
		position: relative
		top: 2px

	&__name
		text-transform: uppercase
		margin-bottom: 5px
		+min-screen($mq_tablet_portrait_less - 1 )
			+rem(font-size, 18px)
			letter-spacing: 1px

	&__name-part
		+min-screen($mq_tablet_portrait_less - 1 )
			display: block

	&__desc
		margin-bottom: 5px
		+min-screen($mq_tablet_portrait_less - 1 )
			width: 70%
			margin: auto
			+rem(font-size, 13px)
			margin-bottom: 5px
			min-height: 60px


/* b-contacts
/* ---------------------------------------END--- */



/* b-welcome-screen
/* --------------------------------------------- */

.b-welcome-screen
	position: relative
	background: linear-gradient(to top, #0589c5, #38bbec)

	&__close
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		overflow: hidden
		text-indent: 9999px

	&__img
		width: 530px
		height: 530px
		position: absolute
		top: 50%
		left: 50%
		@include translate(-50%, -50%)

/* b-welcome-screen
/* ---------------------------------------END--- */


/* b-selection-screen
/* --------------------------------------------- */

.b-selection-screen
	background: $color_main


/* b-selection-screen
/* ---------------------------------------END--- */


/* b-section-list
/* --------------------------------------------- */

.b-section-list
	position: absolute
	top: 50%
	left: 0
	right: 0
	@include translate(0, -50%)

	&__item
		color: #fff
		display: flex
		align-items: center
		height: 60px
		background: $color_main_light
		margin-bottom: 1px

		&:active
			@extend %active-state-bg
	
	&__item-body
		width: 100%
		text-align: center

	&__title
		+rem(font-size, 16px)
		font-weight: bold
		text-transform: uppercase
		letter-spacing: 2px
		

	&__period
		+rem(font-size, 12px)
		text-transform: uppercase
		letter-spacing: 2px


/* b-section-list
/* ---------------------------------------END--- */


/* b-event
/* --------------------------------------------- */

.b-event
	$prop_h: 52px
	background: #fff
	border-top: 1px solid #fff
	margin-bottom: 30px
	
	&__header
		display: flex
		border-bottom: 1px solid $color_border

		+max-screen($mq_phone_portrait - 1)
			display: block

	&__properties
		width: 130px
		+max-screen($mq_phone_portrait - 1)
			width: auto

	&__time
		background: $color_main
		box-sizing: border-box
		padding: 0 $page-inner-space
		+rem(font-size, 14px)
		font-weight: bold
		color: #fff
		min-height: $prop_h
		line-height: $prop_h
		border-right: 1px solid $color_main

	&__location
		box-sizing: border-box
		padding: 10px $page-inner-space
		+rem(font-size, 12px)
		min-height: $prop_h
		border-right: 1px solid $color_border
		line-height: 1.2
		+max-screen($mq_phone_portrait - 1)
			min-height: auto
			border-bottom: 1px solid $color_border

	&__title
		padding: $page-inner-space
		font-weight: bold
		+rem(font-size, 20px)

	&__body
		padding: $page-inner-space
		border-bottom: 1px solid $color_border

/* b-event
/* ---------------------------------------END--- */


/* b-section
/* --------------------------------------------- */

.b-section
	padding: $page-inner-space

	&_space_only-sides
		padding-top: 0
		padding-bottom: 0

	&_bg
		background: #fff

/* b-section
/* ---------------------------------------END--- */


/* b-txt-centered
/* --------------------------------------------- */

.b-txt-centered
	text-align: center

/* b-txt-centered
/* ---------------------------------------END--- */


/* b-news
/* --------------------------------------------- */

.b-news
	$photo_dim: 80px

	background: #fff
	margin-bottom: $content_bot_space

	&__item
		display: table
		width: 100%
		color: inherit
		overflow: hidden

		&:active
			@extend %active-state

		+max-screen($mq_phone_portrait - 1)
			display: block
	
	&__photo,
	&__body
		display: table-cell
		vertical-align: top
		height: $photo_dim

		+max-screen($mq_phone_portrait - 1)
			display: block
			height: auto

	&__photo
		width: $photo_dim
		height: $photo_dim
		border-bottom: 1px solid #fff
		box-sizing: border-box
		background-size: cover
		background-repeat: no-repeat
		background-position: center center

		+max-screen($mq_phone_portrait - 1)
			display: block
			margin-top: 8px
			margin-left: $page-inner-space


	&__img
		display: block
		max-width: $photo_dim

	&__body
		padding: 8px 10px 8px $page-inner-space
		border-bottom: 1px solid $color_border
		box-sizing: border-box

	&__title
		text-transform: uppercase
		+rem(font-size, 11px)
		height: 44px
		overflow: hidden
		+max-screen($mq_phone_portrait - 1)
			height: auto

	&__date
		margin-top: 6px
		+rem(font-size, 10px)
		color: $text_color_light


/* b-news
/* ---------------------------------------END--- */


/* b-date
/* --------------------------------------------- */

.b-date
	text-transform: uppercase
	@extend %font-light
	+rem(font-size, 12px)
	color: $color_icons
	margin-bottom: 6px

/* b-date
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	display: block
	width: 100%
	overflow-y: auto
	margin-bottom: 20px
	+rem(font-size, 12px)

	&__h td,
	& th 
		text-transform: uppercase
		color: #fff
		background: $color_main

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	& tr:nth-child(odd)
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */


/* b-cr-list
/* --------------------------------------------- */

.b-cr-list
	$height: 60px

	margin: 0 0 $content_bot_space 0
	padding: 0
	list-style-type: none
	background: #fff

	&_space-bottom_none
		margin-bottom: 0
		
	
	&__item
		margin: 0
		padding: 0
		list-style-type: none
		&:first-child
			border-top: 1px solid $color_border

	&_top-border_none &__item
		&:first-child
			border-top: none
		
	&__input
		position: absolute
		top: 0
		left: 0
		visibility: hidden

	&__input[type="radio"] + &__label
		&:after
			border-radius: 50%

	&__input[type="checkbox"] + &__label
		&:after
			border-radius: 3px

	&__input:checked + &__label
		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: 0
			width: 2px
			bottom: 0
			background: $color_second

		&:after
			background: $color_second
			border-color: $color_second

	&_style_plus-minus &__label
		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			left: auto
			right: 10px
			width: 1px
			height: 13px
			top: 50%
			margin-top: -6px
			background: $color_main

	&_style_plus-minus &__input:checked + &__label
		&:before
			display: none

	&_style_plus-minus &__input:checked + &__label
		color: $color_main
		font-weight: bold

	&_style_plus-minus &__label
		padding: $page-inner-space $page-inner-space+18px $page-inner-space 0
		
	&__label
		display: flex
		align-items: center
		min-height: $height
		cursor: pointer
		border-bottom: 1px solid $color_border
		position: relative
		padding: $page-inner-space $page-inner-space $page-inner-space $page-inner-space*2+18px
		box-sizing: border-box
		line-height: 1.2

		&:after
			content: ''
			display: block
			position: absolute
			top: 50%
			margin-top: -9px
			left: 10px
			width: 18px
			height: 18px
			border: 1px solid $color_border
	
	&_style_plus-minus &__input:checked + &__label
		&:after
			background: #fff

	&_style_plus-minus &__label
		&:after
			left: auto
			margin-top: 0
			right: 4px
			width: 13px
			height: 1px
			background: $color_main
			z-index: 1
			border: none

	&__txt
		display: inline-block
		position: relative
		top: 3px
	
	&__input:checked + &__label &__icon
		display: block

	&__icon
		position: absolute
		top: 50%
		left: $page-inner-space
		@include translate(0, -50%)
		+new-svg-h($new_w: 12px, $old_w: 20px, $old_h: 14px)
		color: #fff
		z-index: 1

	&_style_plus-minus &__icon
		left: auto
		right: 0
		width: 19px
		height: 19px
		border: 1px solid $color_main
		border-radius: 50%

	&_style_plus-minus &__input:checked + &__label &__icon
		border-color: $color_imp_light
		background: $color_imp_light


/* b-cr-list
/* ---------------------------------------END--- */


/* b-poll-result
/* --------------------------------------------- */

.b-poll-result
	$height: 60px
	margin: 0 0 $content_bot_space 0
	padding: 0
	list-style-type: none
	background: #fff

	&_space-bottom_none
		margin-bottom: 0

	&__item
		margin: 0
		padding: 0
		list-style-type: none
		border-bottom: 1px solid $color_border
		position: relative

		&:first-child
			border-top: 1px solid $color_border

	&__body
		display: flex
		align-items: center
		min-height: $height
		line-height: 1.2

	&__txt
		width: 100%
		padding: $page-inner-space

	&__num
		padding: $page-inner-space
		width: 70px
		font-weight: bold
		color: $color_main
		text-align: right

	&__bar
		position: absolute
		left: 0
		bottom: 0
		height: 4px
		background: $color_second

	&_bar-color_light &__bar
		background: $color_second_light
			


/* b-poll-result
/* ---------------------------------------END--- */


/* b-no-space
/* --------------------------------------------- */

.b-no-space
	margin: 0
	padding: 0

/* b-no-space
/* ---------------------------------------END--- */


/* b-main-h
/* --------------------------------------------- */

.b-main-h
	line-height: 1
	margin: 0
	padding: 10px $page-inner-space
	font-weight: bold
	+rem(font-size, 18px)
	color: #fff
	background: $color_main
	min-height: $navbar_h
	display: flex
	align-items: center
	box-sizing: border-box

/* b-main-h
/* ---------------------------------------END--- */


/* b-section-h
/* --------------------------------------------- */

.b-section-h
	margin: 0
	font-weight: bold
	+rem(font-size, 20px)
	+min-screen($mq_tablet_portrait_less - 1 )
		+rem(font-size, 24px)

/* b-section-h
/* ---------------------------------------END--- */


/* b-filter-ctrl
/* --------------------------------------------- */

.b-filter-ctrl
	$filter_dim: 16px
	width: $filter_dim
	height: $filter_dim
	color: #fff
	position: relative

	&__icon
		width: $filter_dim
		height: $filter_dim

	&__num
		z-index: 2
		position: absolute
		top: -7px
		right: -50%
		background: $color_second
		color: #fff
		min-width: 16px
		height: 16px
		line-height: 17px
		text-align: center
		border-radius: 8px
		padding: 0 2px
		+rem(font-size, 9px)
		box-sizing: border-box

/* b-filter-ctrl
/* ---------------------------------------END--- */


/* b-share-ctrl
/* --------------------------------------------- */

.b-share-ctrl
	$filter_dim: 16px
	width: $filter_dim
	height: $filter_dim
	color: #fff
	position: relative

	&__icon
		+new-svg-h($new_w: 16px, $old_w: 30px, $old_h: 32px)

/* b-share-ctrl
/* ---------------------------------------END--- */


/* b-modal
/* --------------------------------------------- */

.b-modal
	
	background: none !important
	width: 100% !important
	margin-top: 0 !important
	margin-left: 0 !important
	display: block !important
	transform: translate(-50%, -50%) !important
	-webkit-font-smoothing: subpixel-antialiased
	-webkit-transform: translateZ(0) scale(1.0, 1.0)
	max-width: 500px
	
	&__inner
		background: #fff !important
		margin: $page-inner-space
		border-radius: 5px !important

	&__body
		padding: $page-inner-space

	&__content
		text-align: left

	&__title
		border-radius: 5px 5px 0 0
		text-align: left
		background: $color_main
		@extend %font-light
		color: #fff
		margin: 0
		padding: $page-inner-space
		padding-right: 44px
		position: relative
		line-height: 1.2

	&__buttons
		padding-top: $page-inner-space + 5px
		text-align: center

		
	&__button
		border-radius: 16px !important
		width: auto !important
		margin-right: $page-inner-space/2
		margin-left: $page-inner-space/2
		&:after
			display: none

	&__close
		cursor: pointer
		position: absolute
		right: -$page-inner-space
		top: 50%
		@include translate(-50%, -50%)
		width: 44px
		height: 44px

		&:after,
		&:before
			content: ''
			display: block
			position: absolute
			top: 50%
			width: 20px
			height: 1px
			background: #fff

		&:after
			transform: rotate(45deg)
			left: 10px
			
		&:before
			transform: rotate(-45deg)
			left: 11px

/* b-modal
/* ---------------------------------------END--- */


/* b-form-list
/* --------------------------------------------- */

.b-form-list
	background: #fff
	$height: 70px

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__item
		margin: 0
		padding: 0
		display: flex
		border-bottom: 1px solid $color_border
		position: relative

		&_select
			display: block

	&__select-body
		display: flex

	&__title
		+rem(font-size, 14px)
		line-height: 1.2
		padding: 0 $page-inner-space/2 0 $page-inner-space
		display: flex
		align-items: center
		width: 55%
	

	&__element
		width: 45%
		position: relative
		height: $height

	&__picker
		width: 100%
		box-sizing: border-box
		border: none
		height: $height
		padding-right: $page-inner-space + 20px
		text-align: right
		+rem(font-size, 14px)
		font-weight: bold
		color: $color_main

	&__picker-icon
		+new-svg-h($new_w: 10px, $old_w: 83px, $old_h: 41px)
		color: $color_main
		position: absolute
		top: 50%
		@include translate(0, -50%)
		right: $page-inner-space

	&__select
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		height: $height
		width: 100%
		z-index: 1
		opacity: 0

	&__select-val
		height: $height
		line-height: $height
		padding-right: $page-inner-space + 20px
		text-align: right
		+rem(font-size, 14px)
		font-weight: bold
		color: $color_main


/* b-form-list
/* ---------------------------------------END--- */


/* b-share-popup
/* --------------------------------------------- */

.b-share-popup
	background: none
	margin-top: 0 !important
	//display: flex
	//align-items: center
	&:after
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: #000
		opacity: 0.50

	&__angle
		display: none
		&:after
			background: #000
			opacity: 0.50
		
	&__body
		position: relative
		z-index: 1
		color: #fff !important
		padding-top: 25px !important
		padding-bottom: 25px !important
		text-align: center


	& + .modal-overlay
		background: none
	
	&__h
		margin-bottom: 20px

	&__links
		text-align: center

	&__link
		display: inline-block
		margin: 0 20px

	&__icon
		width: 44px
		height: 44px
		color: #fff

/* b-share-popup
/* ---------------------------------------END--- */


/* b-msg
/* --------------------------------------------- */

.b-msg
	background: #fff
	&__item
		margin: 0
		padding: 0
		padding: $page-inner-space
		border-bottom: 1px solid $color_border
		color: inherit
		display: block
		position: relative

		&_important
			background: $color_second_light2
			&:before
				content: ''
				display: block
				position: absolute
				left: 0
				right: 0
				bottom: -1px
				height: 2px
				background: $color_second
				


	&__header
		text-transform: uppercase
		color: $color_main
		+rem(font-size, 16px)
		font-weight: bold
		margin-bottom: 5px

	&__body
		line-height: 1.2

	&__legend
		margin-top: 7px
		text-transform: uppercase
		color: $text_color_light
		+rem(font-size, 12px)
		

/* b-msg
/* ---------------------------------------END--- */