.page
	background: #fff

.panel
	background: $color_main url("../img/nav.png") right bottom no-repeat

.subnavbar
	height: $sub-navbar_h

.subnavbar-no-space
	padding: 0 !important

.navbar
	height: $navbar_h

.navbar-inner,
.subnavbar
	padding: 0 $page-inner-space

.navbar, 
.subnavbar,
.toolbar
	&:after
		display: none
	&:before
		display: none

.toolbar
	height: $footer_h
	background: #f8f8f8

.toolbar .toolbar-inner
	padding: 0

.navbar
	color: #fff
	@extend %font-light
	
	&:after
		display: none

.navbar, 
.subnavbar
	background: $color_main

.content-block
	margin-top: 0
	margin-bottom: 0
	color: #000

.content-block-inner
	padding: $page-inner-space $page-inner-space 0 $page-inner-space
	background: none
	&:after,
	&:before
		display: none

.page-content
	+transition-duration($animation-time)
	+transition-property(padding-top)
	padding-bottom: $footer_h + 10px

.view-main[data-page="index"] .page-content
	padding-top: $sub-navbar_h + $navbar_h

.panel .content-block
	margin: 0
	padding: 0
	

.page-no-space .content-block-inner,
.page-no-space .content-block
	padding: 0
	margin: 0

.navbar-scrollable
	-webkit-box-pack: start
	-webkit-justify-content: flex-start
	justify-content: flex-start
	overflow: auto

.navbar-scrollable::-webkit-scrollbar
	display: none !important
	width: 0 !important
	height: 0 !important
	-webkit-appearance: none
	opacity: 0 !important

.navbar-scrollable a.link,.navbar-scrollable a.tab-link
	width: auto
	-webkit-box-flex: 0
	-webkit-flex-shrink: 0
	flex-shrink: 0
	padding: 0 16px
